*{
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-bottom: 5px;
}
p{
    text-align: center;
    color: rgb(172, 171, 171);
    margin-top: 0;
    margin-bottom: 30px;
}
form{
    text-align: center;
}
form i {
    margin-left: -30px;
    cursor: pointer;
}
input{
    padding: 10px 180px;
    margin-bottom: 15px;
}
#msg {
    display: none;
}
#msg p{
    color: red;
}
.invalid{
    color: red;
}
.valid{
    color: green;
}